---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" href="src/styles/styles.css">

		<title>NECROTHON</title>
	</head>
	<body>
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/feed">FEED</a>
		<h1>FEED</h1>
		<p>POSTS ARE ORDERED BY DATE, USE FILTERS</p>
	</body>
</html>
