---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" href="/styles/styles.css">

		<title>NECROTHON</title>
	</head>
	<body>
		<a href="/">HOME</a>
        <a href="/about">ABOUT</a>
		<a href="/prices">PRICES</a>
		<h1>SO BEGINS THE NECROTHON</h1>
		<p>
			For now, this website lays fallow, unnurtured and nearly devoid of content. But, it may still be of some use to you. Use the navigation bar above to explore.
		</p>
		<section>
			
		  </section>
	</body>
</html>
