---
  import Navoptions from '../components/nav-options.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" href="/styles/styles.css">

		<title>NECROTHON</title>
	</head>
	<body>
		<Navoptions/>
		<h1 class="page-header">SO BEGINS THE NECROTHON</h1>
		<p>
			Welcome to my website.
		</p>
	</body>
</html>
