---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" href="/styles/styles.css">

		<title>NECROTHON</title>
	</head>
	<body>
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/prices">PRICES</a>
		<h1>PRICES</h1>
		<p>Your interest in this page alone is worth thanks, but if you are keen to support this neglected mortuary further, please, look on...</p>
		<h2>THE PROCESS</h2>
		<ol>
			<li>You share references with me and we talk about your character and any ideas you had for the piece.</li>
			<li>I take that knowledge and return with a preliminary sketch.</li>
			<li>Once we've agreed upon the vision payment is made, and work on the final product begins.</li>
			<li>Over the course of a few weeks, a month at most, or within whatever time frame you've specified - updates are delivered.</li>
			<li>Finally, when there is no more work to be done, the art is transfered in whatever format you prefer.</li>
		</ol>
		<p>All payment is received through <a href="https://ko-fi.com/necrothon">ko-fi</a>.</p>
		<h2>SKETCHES</h2>
		<p>A bargain, to be sure. Sketches range from $20 to $50 depending on the complexity of the piece.</p>
		<div class="image-container">
			<img src="images/flcl-bill.jpg" alt="Image of Bill" class="cropped-image">
			<img src="images/calospex-art.jpg" alt="Image of Bill" class="cropped-image">
			<img src="images/the-outlaw.jpg" alt="Image of Bill" class="cropped-image">
		</div>
		
	</body>
</html>
