body {
    background-color: black;
    color: white;
}

@font-face {
  font-family: '1785baskerville';
  src: url('../resources/fonts/1785baskerville.woff') format('woff');
}

.page-header {
  font-family: '1785baskerville';
  word-spacing: 10px;
}


/* Change the color of normal links */
a {
  color: white;
  text-decoration: none;
}

/* Change the color of visited links */
a:visited {
  color: grey;
}

/* Change the color of links when hovered over */
a:hover {
  color: lightgrey;
}

/* Change the color of links when they are being clicked */
a:active {
  color: darkgrey;
}

.image-container {
  width: 300px; /* Adjust the width as needed */
  overflow: hidden;
}

.cropped-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.nav-link {
  font-family: '1785baskerville';
}

.nav-link a {
  margin: 0px 10px;
  transition: color 0.3s ease;
}

.nav-link a:first-child {
  margin-left: 0;
}

p {
  font-size: 120%
}